@{
    ViewData["Title"] = "Branch Report";
}
<h1>@ViewData["Title"]</h1>

@model IEnumerable<FLM.LisoMbiza.ReportBranch>
    <br />
    <p>
        <h4>As at : @DateTime.Now</h4>
    </p>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label>Branch Id</label>
                </th>
                <th>
                    <label>Branch Name</label>
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => @item.BranchId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @item.BranchName)
                    </td>
                    <td>
                        <table>
                            <tbody>
                                @foreach (var childItem in item.BranchProducts)
                                {
                                    <tr>
                                        <td></td>
                                        <td>
                                            @Html.DisplayFor(modelItem => @childItem.ProductId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => @childItem.ProductName)
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>


